<!DOCTYPE html>
{% load tailwind_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    {% load static %}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


    {% block corecss %}
    <link rel="stylesheet" href="{%static 'css/blogs.css'%}" />
    <link rel="stylesheet" href="{%static 'css/login.css'%}" />
    {% endblock corecss %}
    {% block title %} <title>home</title> {% endblock title %}
</head>
<body>
    {{featureds}}
    {% block content %}{% endblock content %}
    {% comment %} {% include 'blogs.html' %}
    {% include 'blog.html' %}
    {% include 'feature.html' %}
    {% endcomment %}
    {% include 'footer.html' %} 
    <script src="{%static 'js/home.js'%}"></script>
    <script src="{%static 'js/slider.js'%}"></script>

</body>
</html>